.sources {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(100vh - 130px - 30px);
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    position: sticky;
    top: 20px;
}

.sources__list {
    margin-left: 20px;
    margin-right: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.sources__list::-webkit-scrollbar {
    width: 3px;
}

.sources__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #30c5ff, #0e0f52);
}

.sources__list::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgb(129 200 255 / 70%) inset;
    background-color: rgb(243, 242, 242, 0.1);
    border-radius: 5px;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
