.logo-title {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
}

.logo-subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
}

.pet-name, h3 {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

.mail,
.phone,
.location1,
.location2, .pet-type-and-breed, h4, .credit-card, .arrow-start-button,
.arrow-end-button,
.arrow-back-button.pets-page,
.arrow-forward-button.pets-page,
.current-page-button {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.pet-description,
.pet-characteristics, h5 {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.learn-more-button, .start-screen-button,
.know-the-rest-button {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
}

.navigation-link, p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.donation-legal {
  font-family: Arial-italic, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.start-screen-button,
.know-the-rest-button {
  text-align: center;
  color: #292929;
  padding: 15px 45px;
  border: 0;
  background-color: #F1CDB3;
  border-radius: 100px;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.start-screen-button:hover,
.know-the-rest-button:hover {
  border: 0;
  background-color: #FDDCC4;
}
.start-screen-button:active,
.know-the-rest-button:active {
  transform: scale(0.8);
}

.learn-more-button {
  text-align: center;
  color: #292929;
  padding: 13px 43px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  border-radius: 100px;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.learn-more-button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}
.learn-more-button:active {
  transform: scale(0.8);
}
.learn-more-button:hover {
  transform: scale(1.1);
}

.arrow-back-button,
.arrow-forward-button {
  padding: 21px 17px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  border-radius: 100px;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.arrow-back-button:hover,
.arrow-forward-button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}
.arrow-back-button:active,
.arrow-forward-button:active {
  transform: scale(0.8);
}

.arrow-start-button,
.arrow-end-button,
.arrow-back-button.pets-page,
.arrow-forward-button.pets-page,
.current-page-button {
  color: #292929;
  text-align: center;
  padding: 0;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  border-radius: 100px;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.arrow-start-button:hover,
.arrow-end-button:hover,
.arrow-back-button.pets-page:hover,
.arrow-forward-button.pets-page:hover,
.current-page-button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}
.arrow-start-button:active,
.arrow-end-button:active,
.arrow-back-button.pets-page:active,
.arrow-forward-button.pets-page:active,
.current-page-button:active {
  transform: scale(0.8);
}

.cross-button {
  padding: 0;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  border-radius: 100px;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.cross-button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}
.cross-button:active {
  transform: scale(0.8);
}

.credit-card {
  color: #545454;
  padding: 10px 15px 10px 60px;
  border: 0;
  background-color: #F1CDB3;
  border-radius: 9px;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.credit-card:hover {
  border: 0;
  background-color: #FDDCC4;
}
.credit-card:active {
  transform: scale(0.8);
}
.credit-card:hover {
  transform: scale(1.02);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: url("../../assets/images/cursor-normal-light.png"), auto;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.noscroll {
  overflow-y: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.about-section,
.pets-section,
.help,
.donation {
  max-width: 1280px;
  margin: 0 auto;
}

.pets-section,
.donation {
  background: #F6F6F6;
}

a {
  text-decoration: none;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
}

button {
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-Regular.woff2") format("woff2"), url("../../assets/fonts/Arial-Regular.woff") format("woff"), url("../../assets/fonts/Arial-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Arial-italic";
  src: url("../../assets/fonts/Arial-Italic.woff2") format("woff2"), url("../../assets/fonts/Arial-Italic.woff") format("woff"), url("../../assets/fonts/Arial-Italic.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Regular.woff2") format("woff2"), url("../../assets/fonts/Georgia-Regular.woff") format("woff"), url("../../assets/fonts/Georgia-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Georgia-bold";
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2"), url("../../assets/fonts/Georgia-Bold.woff") format("woff"), url("../../assets/fonts/Georgia-Bold.ttf") format("ttf");
  font-weight: 700;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

h2 {
  margin: 0;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }
}

p {
  margin: 0;
  color: #CDCDCD;
}

h3 {
  margin: 0;
  color: #545454;
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

h4 {
  margin: 0;
  color: #545454;
}

h5 {
  margin: 0;
  color: #545454;
}

.donation-legal {
  color: #B2B2B2;
}

.pet-name {
  color: #000000;
}

.pet-type-and-breed {
  color: #000000;
}

.pet-description,
.pet-characteristics {
  color: #000000;
}

@media (max-width: 890px) {
  .pet-description {
    font-size: 13px;
    line-height: 14px;
  }
}

.characteristic-title {
  font-family: "Georgia-bold";
  font-weight: 700;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
}

.logo {
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.logo:hover {
  transform: scale(1.05);
}
.logo:active {
  transform: scale(0.5);
}

.logo-link.hidden {
  display: none;
}

.logo-title {
  margin: 0;
  width: 185.7px;
}

.logo-subtitle {
  text-align: center;
  margin: 0 0 0 3px;
  padding-top: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mobile-menu-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 2;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .mobile-menu-overlay.open {
    right: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navigation {
    width: 0;
    height: 100%;
  }
}

.mobile-menu-logo {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .mobile-menu-logo {
    display: block;
    align-self: flex-start;
    padding-left: 10px;
    padding-bottom: 118px;
  }
}

.navigation-list {
  display: grid;
  grid-template: 60px/repeat(4, auto);
  grid-gap: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .navigation-list {
    position: fixed;
    right: -320px;
    left: auto;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0;
    max-width: 320px;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: #292929;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navigation-list.open {
    right: 0;
  }
}

.navigation-item {
  padding: 16px 0 20px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .navigation-item {
    padding: 41px 0 0 0;
  }
}

.navigation-link {
  position: relative;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .navigation-link {
    height: 51px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
  }
}

.navigation-link.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
  transition: 0.5s;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 15px 43px 15px 0;
  padding: 4px 0;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hamburger {
    display: flex;
    z-index: 100;
  }
}

.hamburger.open {
  transform: rotate(-90deg);
}

.hamburger-line {
  width: 30px;
  height: 2px;
  background: #F1CDB3;
  z-index: 15;
}

.hamburger-line.pets-page {
  background: #000000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(80% 170% at 0% 0%, #5B483A 0%, #262425 90%), #211F20;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer-container {
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 65px;
    max-width: 1280px;
  }
}
@media (min-width: 944px) and (max-width: 1279px) {
  .footer-container {
    box-sizing: content-box;
    max-width: 884px;
    padding-left: calc((100vw - 884px) / 2);
    padding-right: calc((100vw - 884px) / 2);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer-container {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}

.contacts,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  padding-top: 16.5px;
  box-sizing: content-box;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contacts,
.location {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contacts,
.location {
    padding: 0;
  }
}

.contacts {
  width: 23.2%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    width: 279px;
    padding-left: 2px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contacts {
    width: 278px;
    align-items: center;
    height: 208px;
  }
}

.location {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .location {
    width: 302px;
    padding-right: 1.5px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .location {
    width: 300px;
    align-items: center;
    height: 222px;
  }
}

.footer-puppy {
  width: 24.95%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer-puppy {
    width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer-puppy {
    width: 260px;
  }
}

.contacts-heading,
.location-heading {
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contacts-heading,
.location-heading {
    max-width: 250px;
  }
}

.mail,
.phone,
.location1,
.location2 {
  position: relative;
  color: #F1CDB3;
  transition: 0.5s;
}
.mail:hover,
.phone:hover,
.location1:hover,
.location2:hover {
  transform: scale(1.05);
}

.mail,
.phone {
  padding-left: 60px;
  line-height: 32px;
}

.location1,
.location2 {
  padding-left: 42px;
}
.location1::before,
.location2::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  background-image: url("../../assets/icons/icon-location.svg");
}

.location1::before {
  top: 7px;
}

.location2 {
  line-height: 32px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .location2 {
    align-self: flex-start;
  }
}

.mail::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  background-image: url("../../assets/icons/icon-email.svg");
}

.phone::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  background-image: url("../../assets/icons/icon-phone.svg");
}

@media (min-width: 768px) and (max-width: 1279px) {
  .start-screen-button {
    align-self: center;
  }
}

.arrow-back-button,
.arrow-forward-button {
  line-height: 0;
  width: 52px;
  height: 52px;
}

.cross-button {
  line-height: 0;
  width: 52px;
  height: 52px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .arrow-forward-button.main-page {
    grid-area: 2/2/3/3;
    justify-self: start;
    margin-left: 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .arrow-back-button.main-page {
    grid-area: 2/1/3/2;
    justify-self: end;
    margin-right: 40px;
  }
}

.arrow-reversed {
  transform: rotate(-180deg);
}

.credit-card {
  position: relative;
  width: 350px;
}
.credit-card::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 15px;
  background-image: url("../../assets/icons/credit-card.svg");
}
@media (min-width: 320px) and (max-width: 767px) {
  .credit-card {
    width: 282px;
    font-size: 15px;
  }
}

.pets-buttons > button {
  width: 52px;
  height: 52px;
}

.arrow-start-button.disabled,
.arrow-end-button.disabled,
.arrow-back-button.pets-page.disabled,
.arrow-forward-button.pets-page.disabled,
.current-page-button.disabled {
  border: 2px solid #CDCDCD;
  background-color: transparent;
  color: #CDCDCD;
  cursor: url("../../assets/images/cursor-normal-light.png"), auto;
  transform: none;
}

.current-page-button.active {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  cursor: url("../../assets/images/cursor-normal-light.png"), auto;
  transform: none;
}

.header-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.header-container {
  margin: 61px auto;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header-container {
    margin: 31px auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-container {
    margin: 30px auto 60px auto;
  }
}

.logo-title {
  color: #F1CDB3;
}

.logo-subtitle {
  color: #FFFFFF;
}

.navigation-link {
  color: #CDCDCD;
}
.navigation-link:hover {
  color: #FAFAFA;
}

.navigation-link.active {
  color: #FAFAFA;
}
.navigation-link.active::after {
  bottom: -6px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .navigation-link.active::after {
    bottom: -11px;
  }
}

.start-screen-container {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  height: 100%;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(80% 170% at 0% 0%, #5B483A 0%, #262425 90%), #211F20;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .start-screen-container {
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .start-screen-container {
    padding-top: 150px;
    flex-direction: column;
    align-items: center;
  }
}

.start-screen-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 13.58%;
  width: 38.3%;
  height: 322px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .start-screen-content {
    width: 64.97%;
    margin-top: 30px;
    margin-bottom: 100px;
  }
}
@media (max-width: 898px) {
  .start-screen-content {
    min-height: 322px;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .start-screen-content {
    margin-top: 0;
    width: 100%;
    min-height: 296px;
    margin-bottom: 105px;
    align-items: center;
  }
}

.start-screen-heading {
  max-width: 310px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .start-screen-heading {
    max-width: 260px;
    text-align: center;
  }
}

.start-screen-subheading {
  padding: 15px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .start-screen-subheading {
    padding: 2px 0;
    text-align: center;
    max-width: 493px;
  }
}

.start-screen-puppy {
  width: 58.2%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .start-screen-puppy {
    align-self: flex-end;
    width: 80.37%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .start-screen-puppy {
    align-self: flex-end;
    width: 86.67%;
  }
}

.about-section {
  display: grid;
  grid-template: auto/49.41% 50.59%;
  padding: 80px 215px 100px 215px;
  background-color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    padding-left: 165px;
    padding-right: 166px;
    grid-template: 380px 408px/100%;
    row-gap: 80px;
    justify-items: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-section {
    padding: 42px 10px;
    grid-template: 494px 353.6px/100%;
    row-gap: 42px;
    justify-items: center;
    justify-content: center;
  }
}

.about-pets {
  width: 71.43%;
  align-self: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-pets {
    padding: 0;
    grid-area: 2/1/3/2;
    width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-pets {
    padding: 0;
    grid-area: 2/1/3/2;
    width: 260px;
  }
}

.about-content {
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1006px) and (max-width: 1279px) {
  .about-content {
    padding: 0 3px 0 4px;
    grid-area: 1/1/2/2;
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 1005px) {
  .about-content {
    padding: 0 3px 0 4px;
    grid-area: 1/1/2/2;
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  .about-content {
    padding: 0 15px;
    grid-area: 1/1/2/2;
    width: 80%;
    align-items: center;
    max-width: 396px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .about-content {
    padding: 0 15px;
    grid-area: 1/1/2/2;
    width: 100%;
    align-items: center;
  }
}

.about-heading {
  max-width: 370px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-heading {
    max-width: 253px;
  }
}

.about-subheading-part1,
.about-subheading-part2 {
  color: #4C4C4C;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-subheading-part1,
.about-subheading-part2 {
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about-subheading-part1 {
    padding: 25px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-subheading-part1 {
    padding-top: 25px;
    padding-bottom: 22px;
  }
}

.pets-section {
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-section {
    padding: 42px 10px;
  }
}

.pets-heading {
  max-width: 400px;
  text-align: center;
}

.pets-slider {
  display: grid;
  grid-template: auto/4.33% 82.5% 4.33%;
  -moz-column-gap: 4.42%;
       column-gap: 4.42%;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-slider {
    grid-template: auto/7.34% 81.9% 7.34%;
    -moz-column-gap: 1.69%;
         column-gap: 1.69%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-slider {
    grid-template: 435px 52px/repeat(2, 50%);
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 20px;
    padding: 42px 0;
    justify-items: center;
  }
}

.pets-cards-wrapper {
  max-width: 990px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-cards-wrapper {
    max-width: 75vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-cards-wrapper {
    max-width: 84vw;
    grid-area: 1/1/2/3;
  }
}

.pets-cards-block {
  display: flex;
  position: relative;
  left: -990px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-cards-block {
    left: -75vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-cards-block {
    left: -84vw;
  }
}

.pets-cards {
  display: flex;
  justify-content: space-between;
  padding: 60px 5px;
}
@media (min-width: 1280px) {
  .pets-cards {
    min-width: 990px;
  }
}
@media (min-width: 812px) and (max-width: 1279px) {
  .pets-cards {
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-cards {
    min-width: 75vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-cards {
    padding: 0 5px;
    min-width: 84vw;
    justify-content: center;
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 435px;
  padding-bottom: 30px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
  transition: 0.5s;
}
.pet-card:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-card:hover .learn-more-button {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.pet-card-image {
  width: 270px;
  height: 270px;
  transition: all 1s ease-in-out;
}

.pet-card-image.animated {
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-right-desktop {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}
@keyframes slide-right-desktop {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}
.transition-right-desktop {
  -webkit-animation-name: slide-right-desktop;
          animation-name: slide-right-desktop;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes slide-left-desktop {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@keyframes slide-left-desktop {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}
.transition-left-desktop {
  -webkit-animation-name: slide-left-desktop;
          animation-name: slide-left-desktop;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes slide-right-tablet {
  from {
    left: -75vw;
  }
  to {
    left: -150vw;
  }
}

@keyframes slide-right-tablet {
  from {
    left: -75vw;
  }
  to {
    left: -150vw;
  }
}
.transition-right-tablet {
  -webkit-animation-name: slide-right-tablet;
          animation-name: slide-right-tablet;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes slide-left-tablet {
  from {
    left: -75vw;
  }
  to {
    left: 0px;
  }
}

@keyframes slide-left-tablet {
  from {
    left: -75vw;
  }
  to {
    left: 0px;
  }
}
.transition-left-tablet {
  -webkit-animation-name: slide-left-tablet;
          animation-name: slide-left-tablet;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes slide-right-mobile {
  from {
    left: -84vw;
  }
  to {
    left: -168vw;
  }
}

@keyframes slide-right-mobile {
  from {
    left: -84vw;
  }
  to {
    left: -168vw;
  }
}
.transition-right-mobile {
  -webkit-animation-name: slide-right-mobile;
          animation-name: slide-right-mobile;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes slide-left-mobile {
  from {
    left: -84vw;
  }
  to {
    left: 0px;
  }
}

@keyframes slide-left-mobile {
  from {
    left: -84vw;
  }
  to {
    left: 0px;
  }
}
.transition-left-mobile {
  -webkit-animation-name: slide-left-mobile;
          animation-name: slide-left-mobile;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .pet-card-3.main-page,
.pet-card-left-3,
.pet-card-right-3 {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .pet-card-2.main-page,
.pet-card-3.main-page,
.pet-card-left-2,
.pet-card-right-2,
.pet-card-left-3,
.pet-card-right-3 {
    display: none;
  }
}

.modal-window-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 30px 0 30px;
  z-index: 1100;
  display: none;
}

.modal-window-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  transition: 0.5s;
}
.modal-window-overlay:hover {
  cursor: url("../../assets/images/cursor-hover-light.png"), pointer;
}
.modal-window-overlay:hover ~ .modal-window-box > .cross-button {
  border: #FDDCC4;
  background-color: #FDDCC4;
}

.modal-window-box {
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 9px;
  transform: translate(-50%, -50%);
}

.cross-button {
  position: absolute;
  top: -52px;
  right: -42px;
}
@media (max-width: 767px) {
  .cross-button {
    right: -30px;
  }
}

.modal-window {
  max-width: 900px;
  max-height: 500px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
}
.modal-window:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
@media (max-width: 1065px) {
  .modal-window {
    width: 85vw;
  }
}
@media (max-width: 800px) {
  .modal-window {
    min-height: 350px;
    width: 82vw;
  }
}
@media (max-width: 767px) {
  .modal-window {
    width: 75vw;
  }
}

.modal-window::-webkit-scrollbar {
  width: 5px;
}

.modal-window::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(159, 170, 179, 0.7) inset;
  background-color: #FFFFFF;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.modal-window::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #FDDCC4, #4C4C4C);
}

.modal-window-image {
  width: 55.55%;
  border-radius: 9px;
  align-self: baseline;
}
@media (min-width: 770px) and (max-width: 800px) {
  .modal-window-image {
    width: 53.35%;
  }
}
@media (max-width: 767px) {
  .modal-window-image {
    display: none;
  }
}

.modal-window-content {
  width: 44.45%;
  padding: 0 19.5px 0 29px;
  align-self: flex-start;
}
@media (max-width: 800px) {
  .modal-window-content {
    padding: 0 8px 0 11px;
  }
}
@media (max-width: 767px) {
  .modal-window-content {
    width: 100%;
    padding: 0 10px 0 10px;
  }
}

.pet-name {
  padding: 14.28% 0 10px 0;
}
@media (max-width: 800px) {
  .pet-name {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .pet-type-and-breed {
    text-align: center;
  }
}

.pet-description {
  padding: 11.43% 0;
}
@media (max-width: 800px) {
  .pet-description {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  .pet-description {
    text-align: justify;
    padding-bottom: 24px;
  }
}

.pet-characteristics {
  margin: 0;
  padding-bottom: 10%;
  padding-left: 0;
  list-style-type: none;
}
@media (max-width: 800px) {
  .pet-characteristics {
    padding-bottom: 10px;
  }
}

.pet-characteristics > li {
  margin-bottom: 10px;
  padding-left: 15px;
  background-image: url("../../assets/icons/dot.svg");
  background-position: left 0 top 6.5px;
  background-size: 4px 4px;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .pet-characteristics > li {
    margin-bottom: 5px;
  }
}

.help {
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .help {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .help {
    padding: 42px 15px;
  }
}

.help-heading {
  max-width: 310px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .help-heading {
    max-width: 230px;
  }
}

.help-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px 27px 0 27px;
  row-gap: 55px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .help-items {
    padding-left: 39px;
    padding-right: 39px;
    display: grid;
    -moz-column-gap: 60px;
         column-gap: 60px;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    justify-items: center;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .help-items {
    justify-items: right;
  }
}
@media (max-width: 320px) {
  .help-items {
    justify-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .help-items {
    padding: 42px 0 0 0;
    display: grid;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
    grid-template: repeat(5, 1fr)/repeat(2, 1fr);
    /* justify-items: center; */
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .item-img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .item-title {
    font-size: 15px;
    line-height: 17px;
  }
}

.pet-food,
.transportation,
.toys,
.bowls-and-cups,
.shampoos,
.vitamins,
.medicines,
.collars-leashes,
.sleeping-areas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pet-food,
.transportation,
.toys,
.bowls-and-cups,
.shampoos,
.vitamins,
.medicines,
.collars-leashes,
.sleeping-areas {
    height: 87px;
  }
}

.pet-food {
  width: 202px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pet-food {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pet-food {
    width: 130px;
  }
}

.transportation {
  width: 270px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .transportation {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .transportation {
    width: 130px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .transportation {
    justify-self: left;
  }
}

.toys {
  width: 180px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .toys {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .toys {
    width: 130px;
  }
}

.bowls-and-cups {
  width: 273px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bowls-and-cups {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .bowls-and-cups {
    width: 130px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .bowls-and-cups {
    justify-self: left;
  }
}

.shampoos {
  width: 221px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shampoos {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .shampoos {
    width: 130px;
  }
}

.vitamins {
  width: 209px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .vitamins {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .vitamins {
    width: 130px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .vitamins {
    justify-self: left;
  }
}

.medicines {
  width: 221px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .medicines {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .medicines {
    width: 130px;
  }
}

.collars-leashes {
  width: 285px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .collars-leashes {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .collars-leashes {
    width: 130px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .collars-leashes {
    justify-self: left;
  }
}

.sleeping-areas {
  width: 263px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .sleeping-areas {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sleeping-areas {
    width: 130px;
  }
}

.donation {
  display: grid;
  grid-template: auto/58.47% 41.53%;
  padding: 80px 182px 100px 183px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .donation {
    padding-left: 131px;
    padding-right: 132px;
    grid-template: 282px 261px/100%;
    row-gap: 60px;
    justify-items: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .donation {
    padding: 42px 10px;
    grid-template: 281px 135.2px/100%;
    row-gap: 42px;
    justify-items: center;
  }
}

.donation-dog {
  width: 94.39%;
  align-self: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .donation-dog {
    grid-area: 2/1/3/2;
    width: 505px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .donation-dog {
    grid-area: 2/1/3/2;
    width: 260px;
  }
}

.donation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 282px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .donation-content {
    padding: 0 62px 0 63px;
    grid-area: 1/1/2/2;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .donation-content {
    padding: 0;
    grid-area: 1/1/2/2;
    align-items: center;
  }
}

.donation-heading {
  max-width: 300px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .donation-heading {
    max-width: 210px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .donation-subheading {
    line-height: 24px;
    letter-spacing: 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .donation-legal {
    max-width: 520px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .donation-legal {
    width: 280px;
    text-align: justify;
  }
}

.header.pets-page {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container.pets-page {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background: #FFFFFF;
}

.logo-title.pets-page {
  margin-top: 1px;
  color: #545454;
}

.logo-subtitle.pets-page {
  color: #292929;
}

.navigation-list.pets-page {
  background: #FFFFFF;
}

.navigation-link.pets-page {
  color: #545454;
}
.navigation-link.pets-page:hover {
  color: #292929;
}

.navigation-link.pets-page.active {
  color: #292929;
}
.navigation-link.pets-page.active::after {
  bottom: -7px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .pets-section.pets-page {
    padding-bottom: 76px;
  }
}

.pets-slider.pets-page {
  display: block;
  max-width: 1280px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-slider.pets-page {
    padding: 0 64px;
  }
}

.pets-cards.pets-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  max-width: 1280px;
  width: 100%;
  padding: 60px 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-cards.pets-page {
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 678px;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-cards.pets-page {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .pet-card-4,
.pet-card-5,
.pet-card-6,
.pet-card-7,
.pet-card-8 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .pet-card-7,
.pet-card-8 {
    display: none;
  }
}

.pets-buttons {
  display: flex;
  width: 340px;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-buttons {
    width: 300px;
    z-index: 3;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer-container.pets-page {
    border-top: 121px solid transparent;
    margin-top: -121px;
    background-clip: padding-box;
  }
}/*# sourceMappingURL=style.css.map */