$Georgia: Georgia, serif;
$Arial: Arial, sans-serif;
$Arial-italic: Arial-italic, sans-serif;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-black: #000000;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$gradient-background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(80% 170% at 0% 0%, #5B483A 0%, #262425 90%), #211F20;
$cursor-hover: url("../../assets/images/cursor-hover-light.png");
$cursor-normal: url("../../assets/images/cursor-normal-light.png");