.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    background: $gradient-background;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-top: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 65px;
        max-width: 944px;
    }
}

.contacts,
.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    padding-top: 16.5px;
    box-sizing: content-box;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 0;
    }
}

.contacts {
    width: 23.2%;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 279px;
        padding-left: 2px;
    }
}

.location {
    width: 25%;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 302px;
        padding-right: 1.5px;
    }
}

.footer-puppy {
    width: 24.95%;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 300px;
    }
}

.contacts-heading, 
.location-heading {
    color: $color-light-xl;
}

.mail,
.phone,
.location1,
.location2 {
    position: relative; 
    @extend %h4-style;
    color: $color-primary;
    transition: 0.5s;
    &:hover {
        transform: scale(1.05);
    }
}

.mail,
.phone {
    padding-left: 60px;
    line-height: 32px;
}

.location1,
.location2 {
    padding-left: 42px;
    @include add-icon(22px, 32px, url('../../assets/icons/icon-location.svg'), 0);
}

.location1::before {
    top: 7px;
}

.location2 {
    line-height: 32px;
}

.mail {
    @include add-icon(40px, 32px, url('../../assets/icons/icon-email.svg'), 0);
}

.phone {
    @include add-icon(40px, 32px, url('../../assets/icons/icon-phone.svg'), 0);
}