.header-wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.header-container {
    margin: 61px auto;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;

    @media (min-width: 768px) and (max-width: 1279px) {
        margin: 31px auto;
    }
}

.logo-title {
    color: $color-primary;
}

.logo-subtitle {
    color: $color-light-xl;
}

.navigation-link {
    color: $color-dark-s;
    &:hover {
        color: $color-light-s;
    }
}

.navigation-link.active {
    color: $color-light-s;
    &::after {
        bottom: -6px;
    }
}

.start-screen-container {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    height: 100%;
    background: $gradient-background;
    
    @media (min-width: 768px) and (max-width: 1279px) {
        padding-top: 120px;
        flex-direction: column;
        align-items: center;
    }
}

.start-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 13.58%;
    width: 38.3%;
    height: 322px;
    
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 64.97%;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
    @media (max-width: 898px) {
        min-height: 322px;
        height: auto;
    }
}

.start-screen-heading {
    max-width: 310px;
}

.start-screen-subheading {
    padding: 15px 0;
}

.start-screen-puppy {
    width: 58.2%;

    @media (min-width: 768px) and (max-width: 1279px) {
        align-self: flex-end;
        width: 80.37%;
    }
}

.about-section {
    display: grid;
    grid-template: auto / 49.41% 50.59%; 
    padding: 80px 215px 100px 215px;
    background-color: $color-light-xl;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 165px;
        padding-right: 166px;
        grid-template: 380px 408px / 100%;
        row-gap: 80px;
        justify-items: center;
        justify-content: center;
    }
}

.about-pets {
    width: 71.43%;
    align-self: center;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 0;
        grid-area: 2 / 1 / 3 / 2;
        width: 300px;
    }
}

.about-content {
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1006px) and (max-width: 1279px) {
        padding: 0 3px 0 4px;
        grid-area: 1 / 1 / 2 / 2;
        width: 65%;
    }

    @media (min-width: 768px) and (max-width: 1005px) {
        padding: 0 3px 0 4px;
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }
}

.about-heading {
    max-width: 370px;
}

.about-subheading-part1, 
.about-subheading-part2 {
    color: $color-dark-xl;
}

.about-subheading-part1 {
    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 25px 0;
    }
}

.pets-section {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.pets-heading {
    max-width: 400px;
    text-align: center;
}

.pets-slider {
    display: grid;
    grid-template: auto / 4.33% 82.5% 4.33%;
    column-gap: 4.42%;
    align-items: center;
    width: 100%;

    @media (min-width: 768px) and (max-width: 1279px) {
        grid-template: auto / 7.34% 81.9% 7.34%;
        column-gap: 1.69%;
    }
}

.pets-cards {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;

    @media (min-width: 812px) and (max-width: 1279px) {
        justify-content: space-evenly;
    }
}

.pet-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    background: $color-light-s;
    border-radius: 9px;
    cursor: $cursor-hover, pointer;
    transition: 0.5s;
    &:hover {
        background: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    &:hover .learn-more-button {
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
    }
}

.pet-card-image {
    width: 270px;
    height: 270px;
}

.pet-card-3.main-page {
    @media (min-width: 768px) and (max-width: 1279px) {
        display: none;
    }
}

.help {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-light-xl;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.help-heading {
    max-width: 310px;
    text-align: center;
}

.help-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px 27px 0 27px;
    row-gap: 55px;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 39px;
        padding-right: 39px;
        display: grid;
        column-gap: 60px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        justify-items: center;
    }
}

.pet-food,
.transportation,
.toys,
.bowls-and-cups,
.shampoos,
.vitamins,
.medicines,
.collars-leashes,
.sleeping-areas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 113px;
}

.pet-food {
    width: 202px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.transportation {
    width: 270px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.toys {
    width: 180px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.bowls-and-cups {
    width: 273px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.shampoos {
    width: 221px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.vitamins {
    width: 209px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.medicines {
    width: 221px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.collars-leashes {
    width: 285px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.sleeping-areas {
    width: 263px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
}

.donation {
    display: grid;
    grid-template: auto / 58.47% 41.53%; 
    padding: 80px 182px 100px 183px;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 131px;
        padding-right: 132px;
        grid-template: 282px 261px / 100%;
        row-gap: 60px;
        justify-items: center;
        justify-content: center; 
    }
}

.donation-dog {
    width: 94.39%;
    align-self: center;

    @media (min-width: 768px) and (max-width: 1279px) {
        grid-area: 2 / 1 / 3 / 2;
        width: 505px;
    }    
}

.donation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 282px;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 0 62px 0 63px;
        grid-area: 1 / 1 / 2 / 2;
    }
}

.donation-heading {
    max-width: 300px;
}