.header-wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.header-container {
    margin: 61px auto;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;

    @media (min-width: 768px) and (max-width: 1279px) {
        margin: 31px auto;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        margin: 30px auto 60px auto;
    }
}

.logo-title {
    color: $color-primary;
}

.logo-subtitle {
    color: $color-light-xl;
}

.navigation-link {
    color: $color-dark-s;
    &:hover {
        color: $color-light-s;
    }
}

.navigation-link.active {
    color: $color-light-s;
    &::after {
        bottom: -6px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        &::after {
            bottom: -11px;
        }
    }
}

.start-screen-container {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    height: 100%;
    background: $gradient-background;
    
    @media (min-width: 768px) and (max-width: 1279px) {
        padding-top: 120px;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 150px; 
        flex-direction: column;
        align-items: center;   
    }
}

.start-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 13.58%;
    width: 38.3%;
    height: 322px;
    
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 64.97%;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
    @media (max-width: 898px) {
        min-height: 322px;
        height: auto;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        margin-top: 0;
        width: 100%;  
        min-height: 296px;
        margin-bottom: 105px;
        align-items: center;
    }
}

.start-screen-heading {
    max-width: 310px;
    @media (min-width: 320px) and (max-width: 767px) {
        max-width: 260px;
        text-align: center;
    }
}

.start-screen-subheading {
    padding: 15px 0;

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 2px 0;
        text-align: center;
        max-width: 493px;
    }
}

.start-screen-puppy {
    width: 58.2%;

    @media (min-width: 768px) and (max-width: 1279px) {
        align-self: flex-end;
        width: 80.37%;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        align-self: flex-end;
        width: 86.67%;
    }
}

.about-section {
    display: grid;
    grid-template: auto / 49.41% 50.59%; 
    padding: 80px 215px 100px 215px;
    background-color: $color-light-xl;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 165px;
        padding-right: 166px;
        grid-template: 380px 408px / 100%;
        row-gap: 80px;
        justify-items: center;
        justify-content: center;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 42px 10px;
        grid-template: 494px 353.6px / 100%;
        row-gap: 42px;
        justify-items: center;
        justify-content: center;
    }
}

.about-pets {
    width: 71.43%;
    align-self: center;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 0;
        grid-area: 2 / 1 / 3 / 2;
        width: 300px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0;
        grid-area: 2 / 1 / 3 / 2;
        width: 260px;
    }
}

.about-content {
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1006px) and (max-width: 1279px) {
        padding: 0 3px 0 4px;
        grid-area: 1 / 1 / 2 / 2;
        width: 65%;
    }

    @media (min-width: 768px) and (max-width: 1005px) {
        padding: 0 3px 0 4px;
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }

    @media (min-width: 376px) and (max-width: 767px) {
        padding: 0 15px;
        grid-area: 1 / 1 / 2 / 2;
        width: 80%;
        align-items: center;
        max-width: 396px;
    }

    @media (min-width: 320px) and (max-width: 375px) {
        padding: 0 15px;
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        align-items: center;
    }
}

.about-heading {
    max-width: 370px;

    @media (min-width: 320px) and (max-width: 767px) {
        max-width: 253px;
    }
}

.about-subheading-part1, 
.about-subheading-part2 {
    color: $color-dark-xl;

    @media (min-width: 320px) and (max-width: 767px) {
        text-align: justify;
    }
}

.about-subheading-part1 {
    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 25px 0;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 25px;
        padding-bottom: 22px;
    }
}

.pets-section {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 42px 10px;
    }
}

.pets-heading {
    max-width: 400px;
    text-align: center;
}

.pets-slider {
    display: grid;
    grid-template: auto / 4.33% 82.5% 4.33%;
    column-gap: 4.42%;
    align-items: center;
    width: 100%;

    @media (min-width: 768px) and (max-width: 1279px) {
        grid-template: auto / 7.34% 81.9% 7.34%;
        column-gap: 1.69%;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        grid-template: 435px 52px / repeat(2, 50%);
        column-gap: 0;
        row-gap: 20px;
        padding: 42px 0;
        justify-items: center;
    }
}

.pets-cards-wrapper {
    max-width: 990px;
    overflow: hidden;

    @media (min-width: 768px) and (max-width: 1279px) {
        max-width: 75vw;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        max-width: 84vw;
        grid-area: 1 / 1 / 2 / 3;
    }
}

.pets-cards-block {
    display: flex;
    position: relative;
    left: -990px;

    @media (min-width: 768px) and (max-width: 1279px) {
        left: -75vw;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        left: -84vw;
    }
}

.pets-cards {
    display: flex;
    justify-content: space-between;
    padding: 60px 5px;
    
    @media (min-width: 1280px) {
        min-width: 990px;
    }

    @media (min-width: 812px) and (max-width: 1279px) {
        justify-content: space-evenly;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        min-width: 75vw;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0 5px;
        min-width: 84vw;
        justify-content: center;
    }
}

.pet-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    background: $color-light-s;
    border-radius: 9px;
    cursor: $cursor-hover, pointer;
    transition: 0.5s;
    &:hover {
        background: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    &:hover .learn-more-button {
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
    }
}

.pet-card-image {
    width: 270px;
    height: 270px;
    transition: all 1s ease-in-out;
}

.pet-card-image.animated {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

@keyframes slide-right-desktop {
    from {left: -990px};
    to {left: -1980px};
}
  
.transition-right-desktop {
    animation-name: slide-right-desktop;
    animation-duration: 3s;
}
  
@keyframes slide-left-desktop {
    from {left: -990px};
    to {left: 0px};
}
  
.transition-left-desktop {
    animation-name: slide-left-desktop;
    animation-duration: 3s;
}

@keyframes slide-right-tablet {
    from {left: -75vw};
    to {left: -150vw};
}
  
.transition-right-tablet {
    animation-name: slide-right-tablet;
    animation-duration: 3s;
}
  
@keyframes slide-left-tablet {
    from {left: -75vw};
    to {left: 0px};
}
  
.transition-left-tablet {
    animation-name: slide-left-tablet;
    animation-duration: 3s;
}

@keyframes slide-right-mobile {
    from {left: -84vw};
    to {left: -168vw};
}
  
.transition-right-mobile {
    animation-name: slide-right-mobile;
    animation-duration: 3s;
}
  
@keyframes slide-left-mobile {
    from {left: -84vw};
    to {left: 0px};
}
  
.transition-left-mobile {
    animation-name: slide-left-mobile;
    animation-duration: 3s;
}

.pet-card-3.main-page,
.pet-card-left-3,
.pet-card-right-3 {
    @media (min-width: 768px) and (max-width: 1279px) {
        display: none;
    }
}

.pet-card-2.main-page,
.pet-card-3.main-page,
.pet-card-left-2,
.pet-card-right-2,
.pet-card-left-3,
.pet-card-right-3 {
    @media (min-width: 320px) and (max-width: 767px) {
        display: none;
    }
}

.modal-window-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 30px;
    z-index: 1100;
    display: none;
}
  
.modal-window-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(41, 41, 41, 0.6);
    transition: 0.5s;

    &:hover {
        cursor: $cursor-hover, pointer;
    }

    &:hover~.modal-window-box > .cross-button {
        border: $color-primary-light;
        background-color: $color-primary-light;
    }
}
  
.modal-window-box {
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 9px;
    transform: translate(-50%, -50%);
}

.cross-button {
    position: absolute;
    top: -52px;
    right: -42px;

    @media (max-width: 767px) {
        right: -30px;
    }
}

.modal-window {
    max-width: 900px;
    max-height: 500px;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-light-s;
    border-radius: 9px;
    &:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    @media (max-width: 1065px) {
        width: 85vw;
    }

    @media (max-width: 800px) {
        min-height: 350px;
        width: 82vw;
    }

    @media (max-width: 767px) {
        width: 75vw;
    }
}

.modal-window::-webkit-scrollbar {
    width: 5px;
}

.modal-window::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(159, 170, 179, 0.7) inset;
    background-color: $color-light-xl;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.modal-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, $color-primary-light, $color-dark-xl);
}

.modal-window-image {
    width: 55.55%;
    border-radius: 9px;
    align-self: baseline;

    @media (min-width: 770px) and (max-width: 800px) {
        width: 53.35%;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.modal-window-content {
    width: 44.45%;
    padding: 0 19.5px 0 29px;
    align-self: flex-start;

    @media (max-width: 800px) {
        padding: 0 8px 0 11px;
    }

    @media (max-width: 767px) {
        width: 100%;
        padding: 0 10px 0 10px;
    }
}

.pet-name {
    padding: 14.28% 0 10px 0;

    @media (max-width: 800px) {
        padding: 10px 0;
    }
}

.pet-type-and-breed {
    @media (max-width: 767px) {
        text-align: center;
    }
}

.pet-description {
    padding: 11.43% 0;

    @media (max-width: 800px) {
        padding: 20px 0;
    }

    @media (max-width: 767px) {
        text-align: justify;
        padding-bottom: 24px;
    }
}

.pet-characteristics {
    margin: 0;
    padding-bottom: 10%;
    padding-left: 0;
    list-style-type: none;

    @media (max-width: 800px) {
        padding-bottom: 10px;
    }
}

.pet-characteristics > li {
    margin-bottom: 10px;
    padding-left: 15px;
    background-image: url("../../assets/icons/dot.svg");
    background-position: left 0 top 6.5px;
    background-size: 4px 4px;
    background-repeat: no-repeat;

    @media (max-width: 800px) {
        margin-bottom: 5px;
    }
} 

.help {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-light-xl;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 42px 15px;
    }
}

.help-heading {
    max-width: 310px;
    text-align: center;

    @media (min-width: 320px) and (max-width: 767px) {
        max-width: 230px;
    }
}

.help-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px 27px 0 27px;
    row-gap: 55px;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 39px;
        padding-right: 39px;
        display: grid;
        column-gap: 60px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        justify-items: center;
    }

    @media (min-width: 321px) and (max-width: 767px) {
        justify-items: right;
    }

    @media (max-width: 320px) {
        justify-items: center;        
    }


    @media (min-width: 320px) and (max-width: 767px) {
        padding: 42px 0 0 0;
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template: repeat(5, 1fr) / repeat(2, 1fr);
        /* justify-items: center; */
    }
}

.item-img {
    @media (min-width: 320px) and (max-width: 767px) {
        width: 50px;
        height: 50px;
    }
}

.item-title {
    @media (min-width: 320px) and (max-width: 767px) {
        font-size: 15px;
        line-height: 17px;
    }
}

.pet-food,
.transportation,
.toys,
.bowls-and-cups,
.shampoos,
.vitamins,
.medicines,
.collars-leashes,
.sleeping-areas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 113px;

    @media (min-width: 320px) and (max-width: 767px) {
        height: 87px;
    }
}

.pet-food {
    width: 202px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }
}

.transportation {
    width: 270px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }    
    @media (min-width: 321px) and (max-width: 767px) {
        justify-self: left;
    }
}

.toys {
    width: 180px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }
}

.bowls-and-cups {
    width: 273px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }

    @media (min-width: 321px) and (max-width: 767px) {
        justify-self: left;
    }
}

.shampoos {
    width: 221px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }
}

.vitamins {
    width: 209px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }
    @media (min-width: 321px) and (max-width: 767px) {
        justify-self: left;
    }
}

.medicines {
    width: 221px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }
}

.collars-leashes {
    width: 285px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }
    @media (min-width: 321px) and (max-width: 767px) {
        justify-self: left;
    }
}

.sleeping-areas {
    width: 263px;
    @media (min-width: 768px) and (max-width: 1279px) {
        width: 170px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 130px;
    }
}

.donation {
    display: grid;
    grid-template: auto / 58.47% 41.53%; 
    padding: 80px 182px 100px 183px;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 131px;
        padding-right: 132px;
        grid-template: 282px 261px / 100%;
        row-gap: 60px;
        justify-items: center;
        justify-content: center; 
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 42px 10px;
        grid-template: 281px 135.2px / 100%;
        row-gap: 42px;
        justify-items: center;
    }
}

.donation-dog {
    width: 94.39%;
    align-self: center;

    @media (min-width: 768px) and (max-width: 1279px) {
        grid-area: 2 / 1 / 3 / 2;
        width: 505px;
    }    

    @media (min-width: 320px) and (max-width: 767px) {
        grid-area: 2 / 1 / 3 / 2;
        width: 260px;
    }
}

.donation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 282px;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 0 62px 0 63px;
        grid-area: 1 / 1 / 2 / 2;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0;
        grid-area: 1 / 1 / 2 / 2;
        align-items: center;
    }
}

.donation-heading {
    max-width: 300px;
    @media (min-width: 320px) and (max-width: 767px) {
        max-width: 210px;
    }
}

.donation-subheading {
    @media (min-width: 320px) and (max-width: 767px) {
        line-height: 24px;
        letter-spacing: 0;
    }
}

.donation-legal {
    @media (min-width: 768px) and (max-width: 1279px) {
        max-width: 520px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
        width: 280px;
        text-align: justify;
    }
}