.start-screen-button,
.know-the-rest-button {
    @extend %colored-button;
}

.start-screen-button {
    @media (min-width: 768px) and (max-width: 1279px) {
        align-self: center;
    }
}

.learn-more-button {
    @extend %bordered-button;
}

.arrow-back-button, 
.arrow-forward-button {
    @extend %circle-button;
    line-height: 0;
    width: 52px;
    height: 52px;
}

.cross-button {
    @extend %circle-button-cross;
    line-height: 0;
    width: 52px;
    height: 52px;
}

.arrow-forward-button.main-page {
    @media (min-width: 320px) and (max-width: 767px) {
        grid-area: 2 / 2 / 3 / 3;
        justify-self: start;
        margin-left: 40px;
    }
}

.arrow-back-button.main-page {
    @media (min-width: 320px) and (max-width: 767px) {
        grid-area: 2 / 1 / 3 / 2;
        justify-self: end;
        margin-right: 40px;
    }
}

.arrow-reversed {
    transform: rotate(-180deg);
}

.credit-card {
    position: relative;
    @extend %donation-bank-account;
    @include add-icon(30px, 23px, url('../../assets/icons/credit-card.svg'), 15px);
    width: 350px;

    @media (min-width: 320px) and (max-width: 767px) {
        width: 282px;
        font-size: 15px;
    }
}

.pets-buttons > button {
    width: 52px;
    height: 52px;
}

.arrow-start-button, 
.arrow-end-button,
.arrow-back-button.pets-page,
.arrow-forward-button.pets-page,
.current-page-button {
    @extend %circle-button-pets-page;

    &.disabled {
        border: 2px solid $color-dark-s;
        background-color: transparent;
        color: $color-dark-s;
        cursor: $cursor-normal, auto;
        transform: none;  
    }
}

.current-page-button.active {
    border: 2px solid $color-primary;
    background-color: $color-primary;
    cursor: $cursor-normal, auto;
    transform: none;    
}